*{
    margin: 0;
    padding: 0;
}
header{
    background-color: lightcoral;
    background-size: cover;
    height: 200px;
}
.main{
    width:100%;
}
.main .navbar{
    width:1200px;
    height:75px;
    margin:auto;
}
.navbar .logo{
    float: left;
    width:200px;
    height:100px;
    border-radius: 0%;

}
.navbar .logo img{
    float:left;
    width: 240px;
    height:200px;
    border-radius: 0%;
}
.main .navbar .menu{
    width: 500px;
    float: right;
    height: 50px;
}
.main .navbar .menu ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.main .navbar .menu ul li{
    list-style: none;
    margin-right: 60px;
    margin-bottom: 100px;
    font-size: 19px;
}
.main .navbar .menu ul li a{
    text-decoration: none;
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.main .navbar .menu ul li a:hover{
    color: crimson;
}
.video{
    width: 1330;
    background: center url(./Asset/image/bgpic.jpg);
    background-color: black;
    height: 300;
}
.video video{
    align-items: center;
}
section{
    width:100%;
    padding:8px 0;
    background-color: blueviolet;

}
section {
    width:100%;
    padding:78px 0;
}
.content{
    justify-content: left;
    padding-left: 10;
    margin-left: 0%;
}
.content .all{
    width:100px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
     
}
 .content .all .info{
    width:500px;
    
}
 .content .all .info h1{
    justify-content: baseline;
    
}
 .content .all .info p{
    justify-content: baseline;
}
.content .all .picture{
    height: auto;
    width:300px;
}
 .content .all .picture img{
    height:400px;
    width:400px;
    border-radius: 50%;
    padding: auto;
}
footer{
    background-color:lightcoral ;
    padding-top: 20px;
}
.container{
    display: flex;
    justify-content: center;

}
.container .Address{
    padding-right: 30%;
}
.container .icons{
    text-align: center;
    padding:3px;
    
}
.container .Address .icons li{
    display: inline-flex;
    float: left;
    text-align: center;
    padding-left: 1000px;
    padding: 5px;
    font-size: xx-large; 
}
.container .links{
    justify-items: center;
    padding-right: 20%;
}
.container .links  h2{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;

}
 .container .links ul{
    float: left;
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
    list-style-type: none;
    
}
.container .links ul li{
    width:auto;
    text-align: center;
    list-style-type: none;
    padding: 5px;
    position: relative;

}